body {
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  display: flex;
  margin: 0;
  height: 100vh;
  color: #2C0C69;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

#logo-img {
  width: 65px;
  padding-bottom: 15px;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2C0C69;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  padding: 2em 1em;
  font-size: 14px;
}

main {
  margin-left: 190px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  padding: .5em 2em;
  border-bottom: 1px solid #2C0C69;
}

#content {
  display: flex;
  flex: 1;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  padding: 10px;
}

.card {
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  width: 350px;
  height: 230px;
  position: relative;
}

.card h2 {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#card1 {
  background-image: url("../img/safe-campus.jpg");
  object-fit: contain;
}

#card2 {
  background-image: url("../img/uw-police.jpg");
  object-fit: contain;
}

#card3 {
  background-image: url("../img/emergency-management.jpg");
  object-fit: contain;
}

#card4 {
  background-image: url("../img/contact.jpg");
  object-fit: contain;
}

#news {
  flex-basis: 325px;
  flex-grow: 0;
  flex-shrink: 0;
  border-left: 1px solid #2C0C69;
  padding: 20px;
}

#news ul {
  list-style-type: none;
  padding: 0;
}

#news li {
  padding-bottom: 10px;
}

h3 {
  font-size: 1rem;
}

#news p {
  font-size: 1em;
  font-style: italic;
}



